<head>
    <style>
        form{
            display: grid;
            gap: 20px;
        }
        form input{
            padding: 5px;
            border: 1 px solid white;
        }
        #submit{
            background-color: teal;
            color: white;
            border: none;
            padding: 8px;
            width: 150px;
            border-radius: 5px;
        }
        table {
            margin-left: 360px;
            text-align: center;
            margin-top: 50px;
        }

        th {
            padding: 10px;
            width: 120px;
            color: white;
            background-color: teal;
            padding: 12px;
        }

        #btn{
            margin-left: 1200px;
            padding: 10px;
            margin-top: -45px;
            width: 150px;
        }

        td {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            text-align: center;
            padding: 8px;
        }
        #home{
            background-color: rgb(94, 96, 219);
            border: none;
            padding: 10px;
            border-radius: 8px;
            width: 120px;
            margin-top: 20px;
            margin-left: 10px;
        }
        #home a{
            color: white;
            text-decoration: none;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
</head>



<button id="home"><a href="/">Home</a></button>
<!-- Button trigger modal -->
<button id="btn" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Data
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add your data</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/create-table-data/<%= name %>" method="post">
                    <% for(let i of data) {%>
                        <input type="<%= i.Type %>" name="<%= i.Field %>" required placeholder="<%= i.Field %>">
                    <%}%>
                        <input id="submit" type="submit" value="Submit">
                </form>
             
            </div>
        </div>
    </div>
</div>


<table>
    <thead>
        <tr>
            <% for(let i of data) {%>
                <th>
                    <%= i.Field %>
                </th>
            <%}%>
        </tr>
    </thead>

    <tbody>
        <% for(let i=0; i<tableData.length; i++) {%>
            <tr>
                <% for(let key in tableData[i]) {%>
                    <td>
                        <%= tableData[i][key] %>
                    </td>
                <%}%>
            </tr>
        <%}%>
    </tbody>
</table>