<title>
    <%= title %>
</title>
<link rel="stylesheet" href="/css/home.css">

<h1>This is my Home Page</h1>

<table border="1">
    <thead>
        <tr>
            <th>id</th>
            <th>first name</th>
            <th>last name</th>
            <th>salary</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i of data) {%>
            <tr>
                <td>
                    <%= i.employee_id %>
                </td>
                <td>
                    <%= i.firstname %>
                </td>

                <td>
                    <%= i.lastname %>
                </td>

                <td>
                    <%= i.salary %>
                </td>
                <td>
                    <a href="/Destroy/<%= i.employee_id %>">Remove</a>
                </td>
            </tr>
        <%}%>

    </tbody>
</table>